@import '../Helpers/variables';
.findCourse{
    .findCourse_item{
        select{
            height: 50px;
            width: 100%;
            border: none;
            border-radius: 10px;
        }
        input{
            height: 50px;
            width: 100%;
            border-radius: 10px;
        }
    }
}
.btn3d {
    position:relative;
    top: -6px;
    border:0;
     transition: all 40ms linear;
     margin-top:8px;
     margin-bottom:8px;
     margin-left:2px;
     margin-right:2px;
}
.btn3d:active:focus,
.btn3d:focus:hover,
.btn3d:focus {
    // -moz-outline-style:none;
         outline:medium none;
}
.btn3d:active, .btn3d.active {
    top:2px;
}
.btn3d.btn-success {
    box-shadow:0 0 0 1px #31c300 inset, 0 0 0 2px rgba(255,255,255,0.15) inset, 0 8px 0 0 #5eb924, 0 8px 8px 1px rgba(0,0,0,0.5);
    background-color:#78d739;
}
.course_star{
    color: yellow;
    position: absolute;
    top: 200px;
    left: 45px;

   ul{
       li{
           display:inline;
       }
   }
}
.course_price{
    position: absolute;
    top: 225px;
    span{
        font-family: cursive;
    }
}
.wap_course{
    background-color: $bg-color-whitesmoke;
}