.intro .intro__item h4{
    background-color: rgb(206, 200, 192);
    font-size: 23px;
    text-align: center;
    margin-top: 14%;
    padding: 5%
}
.intro .intro__item h4:hover{
    color: red;
}
.title_course{
    border-bottom: 1px solid;
    h2{
        margin-bottom: 40px;
        font-size: 3rem;
        font-weight: 400px;
        text-transform: uppercase;
    }
}