<!doctype html>
<html lang="en">

<head>

    <title>Elearning</title>
    <link rel="shortcut icon" href="" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <!-- navbar -->
    <header class="menu changeCourse" once="menu">

        <nav class="navbar navChangeCourse navbar-expand-md  navbar-dropdown align-items-center navbar-dark nav--dark">
            <div class="menu-logo">
                <div class="navbar-brand">
                    <span class="navbar-logo">
                        <a href="#">
                            <img src="" alt="">
                        </a>
                    </span>
                    <span class="navbar-caption-wrap">
                        <a class="navbar-caption text-white display-5 " href="">
                            W.A.P
                        </a>
                    </span>
                </div>
            </div>
            <button class="navbar-toggler btn-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse shift" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown nav-right ml-auto">
                    <li class="nav-item  active  p-2">
                        <a class="nav-link link text-white " href="./home.html">
                            Home
                        </a>
                    </li>
                    <li class="nav-item  p-2">
                        <a class="nav-link link text-white " href="./aboutus.html">
                            About Us
                        </a>
                    </li>
                    <li class="nav-item dropdown  p-2">
                        <a class="nav-link link  text-white " href="./courses.html">
                            Courses
                        </a>

                    </li>
                    <li class="nav-item dropdown  align-items-center p-2">
                        <a class="nav-link link text-white " href="">
                            Blog
                        </a>
                    </li>
                    <li class="nav-item p-2">
                        <a class="nav-link link text-white " href="./contact.html">
                            Contact
                        </a>
                    </li>
                    <li class="nav-item mt-2 " style="width: 60px">
                        <img src="../../assets/img/admin/avatar-0.jpg" alt="person" class="img-fluid rounded-circle">
                    </li>
                    <li class="nav-item mt-4 ">
                        <a class=" nav-link link text-white
                        ">
                            <span id="accountUser"></span>
                        </a>
                    </li>
                    <li class="nav-item p-2">
                        <a class="nav-link link text-white logout">
                            <i class="fa fa-sign-out"></i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- navbar -->



    <!-- Popular Courses -->
    <section class="wap_course mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12  m-5 text-center title_course">
                    <h3>My Courses</h3>
                    <p>If you are not willing to learn, no one can help you. If you are determined to learn, no one can
                        stop you.</p>
                </div>


                <div class="col-md-12">
                    <div class="row" id="mycourses">
                    </div>
                </div>




            </div>
        </div>
    </section>
    <!-- Popular Courses -->

    <!-- feedback -->
    <section class="wap_feedback">

    </section>
    <!-- feedback -->


    <!-- footer -->

    <footer id="footer" class="footer-dark">
        <div class="first-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-3   mt-5">
                        <a href="#" class=" footer-logo">
                            <h2 class="text-white">W.A.P</h2>
                        </a>
                        <p>Wap is fully responsible, Performance oriented and SEO optimized theme.</p>

                    </div>
                    <div class="col-md-3  mt-5 recent-posts ">
                        <h5 class="text-uppercase">recent posts</h5>
                        <ul>
                            <li>
                                <a href="#">Standard Blog post</a>
                            </li>
                            <li>
                                <a href="#">Quotation post</a>
                            </li>
                            <li>
                                <a href="#">Audio Post</a>
                            </li>
                            <li>
                                <a href="#">Wap Video Demo</a>
                            </li>
                            <li>
                                <a href="#">Blog Image Post</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3  mt-5 follow">
                        <h5 class="text-uppercase ">follow us</h5>
                        <ul>
                            <li>
                                <a href="#">About Wap</a>
                            </li>
                            <li>
                                <a href="#">Career</a>
                            </li>
                            <li>
                                <a href="#">Terms & Condition</a>
                            </li>
                            <li>
                                <a href="#">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 mt-5">
                        <h5 class="text-uppercase ">Recent Work</h5>
                        <ul class="recent-work mt-5">
                            <li>
                                <a href="#">
                                    <img src="../../assets/img/recent-work/1.jpg" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../assets/img/recent-work/2.jpg" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../assets/img/recent-work/3.jpg" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../assets/img/recent-work/4.jpg" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../assets/img/recent-work/5.jpg" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../assets/img/recent-work/6.jpg" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../assets/img/recent-work/7.jpg" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../assets/img/recent-work/8.jpg" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../assets/img/recent-work/9.jpg" alt="" />
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="second-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        2018 © All Rights Reserved. <a class="text-white" href="">Terms & Conditions</a> | <a class="text-white"
                            href="">Privacy Policy</a>

                    </div>
                    <div class="col-md-6 ">
                        <ul>
                            <li>
                                <a href="">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa fa-dribbble"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa fa-behance"></i>

                                </a>
                            </li>
                        </ul>


                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer -->
    <script src="../../dist/vendor.js"></script>
    <script src="../../dist/courseOfUser.js"></script>


</body>

</html>