<!doctype html>
<html lang="en">

<head>

    <title>Elearning</title>
    <link rel="shortcut icon" href="" type="image/x-icon">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
    <!-- navbar -->
    <header class="menu" once="menu">

        <nav class="navbar navbar-expand-md  navbar-dropdown align-items-center navbar-dark nav--dark">
            <div class="menu-logo">
                <div class="navbar-brand">
                    <span class="navbar-logo">
                        <a href="#">
                            <img src="" alt="">
                        </a>
                    </span>
                    <span class="navbar-caption-wrap">
                        <a class="navbar-caption text-white display-5 " href="">
                            W.A.P
                        </a>
                    </span>
                </div>
            </div>
            <button class="navbar-toggler btn-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse shift" id="navbarSupportedContent">
                <ul class="navbar-nav nav-dropdown nav-right ml-auto">
                    <li class="nav-item  active  p-2">
                        <a class="nav-link link text-white " href="./home.html">
                            Home
                        </a>
                    </li>
                    <li class="nav-item  p-2">
                        <a class="nav-link link text-white " href="./aboutus.html">
                            About Us
                        </a>
                    </li>
                    <li class="nav-item dropdown  p-2">
                        <a class="nav-link link  text-white " href="./courses.html">
                            Courses
                        </a>

                    </li>
                    <li class="nav-item dropdown  align-items-center p-2">
                        <a class="nav-link link text-white " href="">
                            Blog
                        </a>
                    </li>
                    <li class="nav-item p-2">
                        <a class="nav-link link text-white " href="./contact.html">
                            Contact
                        </a>
                    </li>
                    <li class="nav-item p-2 mt-2">
                        <a href="./login.html" class="blueplay login ">Login</a>
                    </li>
                    <li class="nav-item p-2">
                        <a href="./register.html" class="btn register">Register</a>
                    </li>
                    <li class="nav-item p-2">
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <!-- navbar -->
    <!-- carousel -->
    <section class="carousel slide" data-interval="false" id="slider1-a">
        <div class="full-screen">
            <div class="wap-slider slide carousel" data-pause="true" data-keyboard="false" data-ride="carousel"
                data-interval="5000">
                <div class="carousel-inner" role="listbox">
                    <!-- slider - 1 -->
                    <div class="carousel-item slider-fullscreen-image active ">
                        <div class="wap-overlay"></div>
                        <div class="image_wrapper ">
                            <img src="../../assets/img/01.jpg">
                            <div class="carousel-caption justify-content-center">
                                <div class="row">
                                    <div class="col-md-12 col-md-offset-2 text-center">

                                        <h2 class="display-5">BOOST YOUR SKILLS</h2>
                                        <p class="text-caption-p">Learn something new every day and get inspired by the
                                            diversity
                                            of online learning
                                        </p>
                                        <a href="#" class="btn btn-info">SIGN UP AND GET A 7-DAYS FREE TRIAL</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <!-- slider - 2 -->
                    <div class="carousel-item slider-fullscreen-image ">
                        <div class="wap-overlay"></div>
                        <div class="image_wrapper">
                            <img src="../../assets/img/background6.jpg">
                            <div class="carousel-caption justify-content-center">
                                <div class="row">
                                    <div class="col-md-12 col-md-offset-2 text-center">

                                        <h2 class="display-5">BOOST YOUR SKILLS</h2>
                                        <p class="text-caption-p">Learn something new every day and get inspired by the
                                            diversity
                                            of online learning
                                        </p>
                                        <a href="#" class="btn btn-info">SIGN UP AND GET A 7-DAYS FREE TRIAL</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- slider - 3 -->
                    <div class="carousel-item slider-fullscreen-image ">
                        <div class="wap-overlay"></div>
                        <div class="image_wrapper">
                            <img src="../../assets/img/3.jpg">
                            <div class="carousel-caption justify-content-center">
                                <div class="row">
                                    <div class="col-md-12 col-md-offset-2 text-center">

                                        <h2 class="display-5">BOOST YOUR SKILLS</h2>
                                        <p class="text-caption-p">Learn something new every day and get inspired by the
                                            diversity
                                            of online learning
                                        </p>
                                        <a href="#" class="btn btn-info">SIGN UP AND GET A 7-DAYS FREE TRIAL</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#slider1-a" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#slider1-a" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
    </section>


    <!-- carousel -->


    <!-- Popular Courses -->
    <section class="wap_course ">
        <div class="container">
            <div class="row">
                <div class="col-md-12  text-center title_course mt-5">
                    <h3>Popular Courses</h3>
                    <p>Top sold courses are now available in a sustainable price.</p>
                </div>
               
                <div class="row mt-5">
                    <div class="col-md-9">
                        <div class="row" id="danhsachkhoahoc">

                        </div>
                    </div>
                    <!-- ----------------Find Your Course------------------- -->
                    <div class="col-md-3">
                       
                        <form >
                            <h3 ><strong>Recent </strong>News</h3>
                            <div class="row pb-3" style="border-bottom: 1px solid grey">
                                <div class="col-4">
                                    <img src="../../assets/img/01.jpg" style="height: 100%; width: 123%;" alt="">
                                </div>
                                <div class="col-8">
                                    <div class="row ml-2">
                                        <i class="fa fa-calendar"><span class="text-danger ml-1"><strong>20 November 2018</strong></span></i>
                                    </div>
                                    <div class="row pt-2">
                                        <a href="https://cybersoft.edu.vn/lap-trinh-front-end-chuyen-nghiep/" class="text-dark ml-3"><strong>Front
                                                End Developer</strong></a>
                                    </div>
                                </div>
                            </div>
                            <div class="row pt-3">
                                <div class="col-4">
                                    <img src="../../assets/img/02.jpg" style="height: 100%; width: 123%;" alt="">
                                </div>
                                <div class="col-8">
                                    <div class="row ml-2">
                                        <i class="fa fa-calendar"><span class="text-danger ml-1"><strong>20 November 2018</strong></span></i>
                                    </div>
                                    <div class="row pt-2">
                                        <a href="https://cybersoft.edu.vn/lap-trinh-front-end-chuyen-nghiep/" class="text-dark ml-3"><strong>Back
                                                End Developer</strong></a>
                                    </div>
                                </div>
                            </div>
                            <div class="item_course col-md-12 p-0" style="border-radius: 2%">
                                <div class="service-block mb-md-30 bg-white mb-4" >
                                    <div class="thumb mt-5">
                                        <img alt="featured project" src="../../assets/img/course/c3.jpg" class="img-responsive img-fullwidth">
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <!-- ----------------Find Your Course------------------- -->

                </div>
            </div>
        </div>
    </section>
    <!-- Popular Courses -->


    <!-- footer -->

    <footer id="footer" class="footer-dark">
        <div class="first-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-3   mt-5">
                        <a href="#" class=" footer-logo">
                            <h2 class="text-white">W.A.P</h2>
                        </a>
                        <p>Wap is fully responsible, Performance oriented and SEO optimized theme.</p>

                    </div>
                    <div class="col-md-3  mt-5 recent-posts ">
                        <h5 class="text-uppercase">recent posts</h5>
                        <ul>
                            <li>
                                <a href="#">Standard Blog post</a>
                            </li>
                            <li>
                                <a href="#">Quotation post</a>
                            </li>
                            <li>
                                <a href="#">Audio Post</a>
                            </li>
                            <li>
                                <a href="#">Wap Video Demo</a>
                            </li>
                            <li>
                                <a href="#">Blog Image Post</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3  mt-5 follow">
                        <h5 class="text-uppercase ">follow us</h5>
                        <ul>
                            <li>
                                <a href="#">About Wap</a>
                            </li>
                            <li>
                                <a href="#">Career</a>
                            </li>
                            <li>
                                <a href="#">Terms & Condition</a>
                            </li>
                            <li>
                                <a href="#">Privacy Policy</a>
                            </li>
                            <li>
                                <a href="#">Contact Us</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 mt-5">
                        <h5 class="text-uppercase ">Recent Work</h5>
                        <ul class="recent-work mt-5">
                            <li>
                                <a href="#">
                                    <img src="../../assets/img/recent-work/1.jpg" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../assets/img/recent-work/2.jpg" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../assets/img/recent-work/3.jpg" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../assets/img/recent-work/4.jpg" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../assets/img/recent-work/5.jpg" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../assets/img/recent-work/6.jpg" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../assets/img/recent-work/7.jpg" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../assets/img/recent-work/8.jpg" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <img src="../../assets/img/recent-work/9.jpg" alt="" />
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
        <div class="second-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        2018 © All Rights Reserved. <a class="text-white" href="">Terms & Conditions</a> | <a class="text-white" href="">Privacy Policy</a>

                    </div>
                    <div class="col-md-6 ">
                        <ul>
                            <li>
                                <a href="">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa fa-dribbble"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <i class="fa fa-behance"></i>

                                </a>
                            </li>
                        </ul>


                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- footer -->
    <script src="../../dist/vendor.js"></script>
    <script src="../../dist/course.js"></script>


</body>

</html>