<!doctype html>
<html lang="en">

<head>

  <title>Elearning</title>
  <link rel="shortcut icon" href="" type="image/x-icon">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>
  <div class='thetop'></div>
  <header class="menu" once="menu">

    <nav class="navbar navbar-expand-md  navbar-dropdown align-items-center navbar-dark nav--dark">
      <div class="menu-logo">
        <div class="navbar-brand">
          <span class="navbar-logo">
            <a href="#">
              <img src="" alt="">
            </a>
          </span>
          <span class="navbar-caption-wrap">
            <a class="navbar-caption text-white display-5 " href="">
              W.A.P
            </a>
          </span>
        </div>
      </div>
      <button class="navbar-toggler btn-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse shift" id="navbarSupportedContent">
        <ul class="navbar-nav nav-dropdown nav-right ml-auto">
          <li class="nav-item  active  p-2">
            <a class="nav-link link text-white " href="">
              Home
            </a>
          </li>
          <li class="nav-item  p-2">
            <a class="nav-link link text-white " href="./aboutus.html">
              About Us
            </a>
          </li>
          <li class="nav-item dropdown  p-2">
            <a class="nav-link link  text-white " href="./courses.html">
              Courses
            </a>

          </li>
          <li class="nav-item dropdown  align-items-center p-2">
            <a class="nav-link link text-white " href="./blog.html">
              Blog
            </a>
          </li>
          <li class="nav-item p-2">
            <a class="nav-link link text-white " href="./contact.html">
              Contact
            </a>
          </li>
          <li class="nav-item p-2 mt-2">
            <a href="login.html" class="blueplay login ">Login</a>
          </li>
          <li class="nav-item p-2">
            <a href="register.html" class="btn register">Register</a>
          </li>
          <li class="nav-item p-2">

          </li>
        </ul>
      </div>
    </nav>
  </header>
  <!-- navbar -->
  <!-- carousel -->
  <section class="carousel slide" data-interval="false" id="slider1-a">
    <div class="full-screen">
      <div class="wap-slider slide carousel" data-pause="true" data-keyboard="false" data-ride="carousel" data-interval="5000">
        <div class="carousel-inner" role="listbox">
          <!-- slider - 1 -->
          <div class="carousel-item slider-fullscreen-image active ">
            <div class="wap-overlay"></div>
            <div class="image_wrapper ">
              <img src="../../assets/img/01.jpg">
              <div class="carousel-caption justify-content-center">
                <div class="row">
                  <div class="col-md-12 col-md-offset-2 text-center">

                    <h2 class="display-5">BOOST YOUR SKILLS</h2>
                    <p class="text-caption-p">Learn something new every day and get inspired by the diversity of online
                      learning</p>
                    <a href="#" class="btn btn-info">SIGN UP AND GET A 7-DAYS FREE TRIAL</a>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <!-- slider - 2 -->
          <div class="carousel-item slider-fullscreen-image ">
            <div class="wap-overlay"></div>
            <div class="image_wrapper">
              <img src="../../assets/img/background6.jpg">
              <div class="carousel-caption justify-content-center">
                <div class="row">
                  <div class="col-md-12 col-md-offset-2 text-center">

                    <h2 class="display-5">BOOST YOUR SKILLS</h2>
                    <p class="text-caption-p">Learn something new every day and get inspired by the diversity of online
                      learning</p>
                    <a href="#" class="btn btn-info">SIGN UP AND GET A 7-DAYS FREE TRIAL</a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- slider - 3 -->
          <div class="carousel-item slider-fullscreen-image ">
            <div class="wap-overlay"></div>
            <div class="image_wrapper">
              <img src="../../assets/img/3.jpg">
              <div class="carousel-caption justify-content-center">
                <div class="row">
                  <div class="col-md-12 col-md-offset-2 text-center">

                    <h2 class="display-5">BOOST YOUR SKILLS</h2>
                    <p class="text-caption-p">Learn something new every day and get inspired by the diversity of online
                      learning</p>
                    <a href="#" class="btn btn-info">SIGN UP AND GET A 7-DAYS FREE TRIAL</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#slider1-a" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#slider1-a" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
  </section>


  <!-- carousel -->

  <!-- intro -->
  <section class="wap_intro mt-5">
    <div class="wap_intro_explore">
      <div class="container">
        <div class="row">
          <div class="intro_title text-center col-md-12 ">

          </div>
        </div>
        <div class="row contain-category">
          <div class="col-md-3 col-sm-6 category">
            <img src="../../assets/img/explore/1.png" alt="">
            <h5 class="mt-4">Business</h5>
            <div class="overlay text-center">
              <p class="pull-right"><span>93</span>TRAINERS</p>
              <p class="pull-left"><span>418</span>TUTORIALS</p>
              <h5>Business</h5>
              <a href="#" class="btn btn-start mt-2" style="font-size:12px"> REVIEW<i class="fa fa-long-arrow-right"></i></a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 category">
            <img src="../../assets/img/explore/2.png" alt="">
            <h5 class="mt-4">Video Production & Animation</h5>
            <div class="overlay text-center">
              <p class="pull-right"><span>93</span>TRAINERS</p>
              <p class="pull-left"><span>418</span>TUTORIALS</p>
              <h5>Video Production & Animation</h5>
              <a href="#" class="btn btn-start mt-2" style="font-size:12px"> REVIEW<i class="fa fa-long-arrow-right"></i></a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 category">
            <img src="../../assets/img/explore/3.png" alt="">
            <h5 class="mt-4">Webdesign & Illustration</h5>
            <div class="overlay text-center">
              <p class="pull-right"><span>93</span>TRAINERS</p>
              <p class="pull-left"><span>418</span>TUTORIALS</p>
              <h5>Webdesign & Illustration</h5>
              <a href="#" class="btn btn-start mt-2" style="font-size:12px"> REVIEW<i class="fa fa-long-arrow-right"></i></a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 category border-right-none">
            <img src="../../assets/img/explore/4.png" alt="">
            <h5 class="mt-4">Photography</h5>
            <div class="overlay text-center">
              <p class="pull-right"><span>93</span>TRAINERS</p>
              <p class="pull-left"><span>418</span>TUTORIALS</p>
              <h5>Photography</h5>
              <a href="#" class="btn btn-start mt-2" style="font-size:12px"> REVIEW<i class="fa fa-long-arrow-right"></i></a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 category border-bottom-none">
            <img src="../../assets/img/explore/5.png" alt="">
            <h5 class="mt-4">Marketing & CEO</h5>
            <div class="overlay text-center">
              <p class="pull-right"><span>93</span>TRAINERS</p>
              <p class="pull-left"><span>418</span>TUTORIALS</p>
              <h5>Marketing & CEO</h5>
              <a href="#" class="btn btn-start mt-2" style="font-size:12px"> REVIEW<i class="fa fa-long-arrow-right"></i></a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 category border-bottom-none">
            <img src="../../assets/img/explore/6.png" alt="">
            <h5 class="mt-4">Development</h5>
            <div class="overlay text-center">
              <p class="pull-right"><span>93</span>TRAINERS</p>
              <p class="pull-left"><span>418</span>TUTORIALS</p>
              <h5>Development</h5>
              <a href="#" class="btn btn-start mt-2" style="font-size:12px"> REVIEW<i class="fa fa-long-arrow-right"></i></a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 category border-bottom-none">
            <img src="../../assets/img/explore/7.png" alt="">
            <h5 class="mt-4">Science & Technology</h5>
            <div class="overlay text-center">
              <p class="pull-right"><span>93</span>TRAINERS</p>
              <p class="pull-left"><span>418</span>TUTORIALS</p>
              <h5>Science & Technology</h5>
              <a href="#" class="btn btn-start mt-2" style="font-size:12px"> REVIEW<i class="fa fa-long-arrow-right"></i></a>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 category border-right-none border-bottom-none">
            <img src="../../assets/img/explore/8.png" alt="">
            <h5 class="mt-4">Languages & Presentation</h5>
            <div class="overlay text-center">
              <p class="pull-right"><span>93</span>TRAINERS</p>
              <p class="pull-left"><span>418</span>TUTORIALS</p>
              <h5>Languages & Presentation</h5>
              <a href="#" class="btn btn-start mt-2" style="font-size:12px"> REVIEW<i class="fa fa-long-arrow-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="wap_intro_feature mt-4">
      <div class="container">
        <div class="row">
          <div class="col-xs-12  col-sm-4 text-center">
            <img src="../../assets/img/icon/icon_1.png" alt="">
            <div class="intro-text">
              <h5 class="display-5 font-weight-bold">Unlimited Access</h5>
              <p>Choose what you'd like to learn from our extensive subscription library.</p>
            </div>
          </div>
          <div class="col-xs-12  col-sm-4 text-center">
            <img src="../../assets/img/icon/icon_2.png" alt="">
            <div class="intro-text ">
              <h5 class="display-5 font-weight-bold">Expert Teachers</h5>
              <p>Learn from industry experts who are passionate about teaching.</p>
            </div>
          </div>
          <div class="col-xs-12  col-sm-4 text-center">
            <img src="../../assets/img/icon/icon_3.png" alt="">
            <div class="intro-text ">
              <h5 class="display-5 font-weight-bold">Learn Anywhere</h5>
              <p>Switch between your computer, tablet, or mobile device.</p>
            </div>
          </div>

        </div>
      </div>
      <div class="col-xs-12 mt-4 text-center">
        <a href="register.html" class="btn  btn-start font-weight-bold ">Start Sign Up</a>
      </div>
    </div>
  </section>


  <!-- intro -->



  <!-- Popular Courses -->
  <section class="wap_course mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12  text-center title_course mt-5">
          <h2>Popular Courses</h2>
          <p>Top sold courses are now available in a sustainable price.</p>
        </div>
        <div class="row" id="listcourse">
        </div>
        <div class="col-md-12 text-center mt-2 mb-3">
          <div class="arrow bounce ">
            <a href="#"> <i class="fa fa-angle-double-down" style="font-size:3rem;color:#041721"></i></a>
          </div>
          <a href="./courses.html"style="padding:10px 70px;text-decoration:none" class="btn-start">All Courses Of Us</a>
        </div>





      </div>
    </div>
  </section>
  <!-- Popular Courses -->
  <!-- info teachers -->
  <section class="wap_info_teachers mt-5">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-5 title_teachers">
          <h2 class="text-center "> Team Teachers</h2>
        </div>
        <div class="owl-carousel owl-theme wraper-demo">
          <div class="item">

            <div class="member">
              <div class="member-info">
                <img src="../../assets/img/teacher/t-1.jpg" alt="">
                <div class="member-info-intro">
                  <h5>Martin Smith</h5>
                  <span>Founder & Ceo</span>
                </div>
              </div>
              <div class="member-hover">
                <div class="member-hover-intro">
                  <h4>I love my Studio</h4>
                  <p>We are a team of multi-skilled and curious digital specialists who are always up for a challenge
                    and
                    learning as fast as digital is changing.</p>

                </div>
                <div class="member-hover-link">
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-google-plus"></i>
                  </a>
                </div>
              </div>
            </div>


          </div>
          <div class="item">
            <div class="member">
              <div class="member-info">
                <img src="../../assets/img/teacher/t-3.jpg" alt="">
                <div class="member-info-intro">
                  <h5>Martin Smith</h5>
                  <span>Founder & Ceo</span>
                </div>
              </div>
              <div class="member-hover">
                <div class="member-hover-intro">
                  <h4>I love my Studio</h4>
                  <p>We are a team of multi-skilled and curious digital specialists who are always up for a challenge
                    and
                    learning as fast as digital is changing.</p>

                </div>
                <div class="member-hover-link">
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-google-plus"></i>
                  </a>
                </div>
              </div>
            </div>

          </div>
          <div class="item">
            <div class="member">
              <div class="member-info">
                <img src="../../assets/img/teacher/t-2.jpg" alt="">
                <div class="member-info-intro">
                  <h5>Martin Smith</h5>
                  <span>Founder & Ceo</span>
                </div>
              </div>
              <div class="member-hover">
                <div class="member-hover-intro">
                  <h4>I love my Studio</h4>
                  <p>We are a team of multi-skilled and curious digital specialists who are always up for a challenge
                    and
                    learning as fast as digital is changing.</p>

                </div>
                <div class="member-hover-link">
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-google-plus"></i>
                  </a>
                </div>
              </div>
            </div>

          </div>
          <div class="item">

            <div class="member">
              <div class="member-info">
                <img src="../../assets/img/teacher/t-3.jpg" alt="">
                <div class="member-info-intro">
                  <h5>Martin Smith</h5>
                  <span>Founder & Ceo</span>
                </div>
              </div>
              <div class="member-hover">
                <div class="member-hover-intro">
                  <h4>I love my Studio</h4>
                  <p>We are a team of multi-skilled and curious digital specialists who are always up for a challenge
                    and
                    learning as fast as digital is changing.</p>

                </div>
                <div class="member-hover-link">
                  <a href="#">
                    <i class="fa fa-facebook"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-twitter"></i>
                  </a>
                  <a href="#">
                    <i class="fa fa-google-plus"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </section>
  <!-- info teachers -->
  

  <!--partnership-->
  <section class="wap_partnership  mt-5">
    <div class="wap-overlay"> </div>
    <div class="container ">
      <div class="row">
        <div class="owl-carousel owl-theme wraper-demo">
          <div class="item">
            <img src="../../assets/img/partnership/p-1.png">
          </div>
          <div class="item">
            <img src="../../assets/img/partnership/p2.png">

          </div>
          <div class="item">
            <img src="../../assets/img/partnership/p3.png">

          </div>
          <div class="item">
            <img src="../../assets/img/partnership/p-4.png">

          </div>
          <div class="item">
            <img src="../../assets/img/partnership/p5.png">

          </div>
          <div class="item">
            <img src="../../assets/img/partnership/p6.png">

          </div>
          <div class="item">
            <img src="../../assets/img/partnership/p2.png">
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--partnership-->

  <!-- edit  devices-->

  <section  class=" mt-5 mb-5">
    <div class="container  d-flex">

      <div class="col-md-5 col-sm-6 col-xs-12 mt-5">
        <h3 class="section-header">Limitless learning limitless possibilities</h3>
        <p>Learning can happen anywhere with our apps on your computer, mobile device, and TV, featuring enhanced
          navigation and faster streaming for anytime learning.</p>
        <a href="#" class="btn  btn-warning  ">Start My Free Month</a>
      </div>
      <div class="devices-image col-md-7 col-sm-6 col-xs-12">
        <img data-appear-top-offset="300" src="../../assets/img/homepage-devices.jpg">
      </div>
    </div>
  </section>
  <!-- edit devices -->

  <!-- scroll-top -->
  <div class='scrolltop'>
    <div class='scroll  btn-start'><i class="fa fa-4x fa-angle-up"></i></div>
  </div>
  <!-- scroll-top -->

  <!-- footer -->

  <footer id="footer" class="footer-dark">
    <div class="first-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-3   mt-5">
            <a href="#" class=" footer-logo">
              <h2 class="text-white">W.A.P</h2>
            </a>
            <p>Wap is fully responsible, Performance oriented and SEO optimized theme.</p>

          </div>
          <div class="col-md-3  mt-5 recent-posts ">
            <h5 class="text-uppercase">recent posts</h5>
            <ul>
              <li>
                <a href="#">Standard Blog post</a>
              </li>
              <li>
                <a href="#">Quotation post</a>
              </li>
              <li>
                <a href="#">Audio Post</a>
              </li>
              <li>
                <a href="#">Wap Video Demo</a>
              </li>
              <li>
                <a href="#">Blog Image Post</a>
              </li>
            </ul>
          </div>
          <div class="col-md-3  mt-5 follow">
            <h5 class="text-uppercase ">follow us</h5>
            <ul>
              <li>
                <a href="#">About Wap</a>
              </li>
              <li>
                <a href="#">Career</a>
              </li>
              <li>
                <a href="#">Terms & Condition</a>
              </li>
              <li>
                <a href="#">Privacy Policy</a>
              </li>
              <li>
                <a href="#">Contact Us</a>
              </li>
            </ul>
          </div>
          <div class="col-md-3 mt-5">
            <h5 class="text-uppercase ">Recent Work</h5>
            <ul class="recent-work mt-5">
              <li>
                <a href="#">
                  <img src="../../assets/img/recent-work/1.jpg" alt="" />
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="../../assets/img/recent-work/2.jpg" alt="" />
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="../../assets/img/recent-work/3.jpg" alt="" />
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="../../assets/img/recent-work/4.jpg" alt="" />
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="../../assets/img/recent-work/5.jpg" alt="" />
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="../../assets/img/recent-work/6.jpg" alt="" />
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="../../assets/img/recent-work/7.jpg" alt="" />
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="../../assets/img/recent-work/8.jpg" alt="" />
                </a>
              </li>
              <li>
                <a href="#">
                  <img src="../../assets/img/recent-work/9.jpg" alt="" />
                </a>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
    <div class="second-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            2018 © All Rights Reserved. <a href="" class="text-white">Terms & Conditions</a> | <a href="" class="text-white">Privacy
              Policy</a>

          </div>
          <div class="col-md-6 ">
            <ul>
              <li>
                <a href="">
                  <i class="fa fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="">
                  <i class="fa fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="">
                  <i class="fa fa-dribbble"></i>
                </a>
              </li>
              <li>
                <a href="">
                  <i class="fa fa-google-plus"></i>
                </a>
              </li>
              <li>
                <a href="">
                  <i class="fa fa-behance"></i>

                </a>
              </li>
            </ul>


          </div>
        </div>
      </div>
    </div>
  </footer>
  <!-- footer -->

  <script src="../../dist/vendor.js"></script>
  <script src="../../dist/home.js"></script>

</body>

</html>