<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Register</title>

</head>

<body class="bgc">

  <div class="pen-title">
    <h1 class="title_1">Register</h1>
  </div>

  <div class="module form-module">
    <div class="toggle toggle_register">
      <div class="tooltip  ">
        <span class="content_1">Login your account</span>
      </div>
    </div>
    <div class="form">
      <h2 class="text-center">Create an account</h2>
      <form id="signupForm" class="signup">
        <input type="text" placeholder="Username" id="username" name="username" />
        <input type="password" placeholder="Password" id="password" name="password" />
        <input type="text" placeholder="Name" id="name" name="name" />
        <input type="email" placeholder="Email Address" id="email" name="email" />
        <input type="number" placeholder="Phone Number" id="phone" name="phone" />
        <button class="submit" id="register" type ="button">Register</button>

      </form>
    </div>
    <div class="form login">
      <h2 class="text-center">Login to your account</h2>
      <form>
        <input type="text" placeholder="Username" id="taikhoan" required />
        <input type="password" placeholder="Password" id="matkhau" required />
        <button class="submit" id="login" type="button">Login</button>
      </form>
    </div>

    <div class="cta"><a id="cfg_1" href="#"></a></div>

  </div>

  <script src="../../dist/vendor.js"></script>
  <script src="../../dist/register.js"></script>
</body>

</html>